@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'popins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    flex: 1;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: #f5f5f5;
    padding: 70px 0;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5; /* Puedes ajustar el color de fondo según tus preferencias */
    padding: 10px; /* Añadí un relleno para mejorar la apariencia */
    z-index: 1000;
}

.logo {
    font-size: 25px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar {
    position: relative; /* Quité la propiedad 'fixed' y 'left' */
    top: 0; /* Quité 'top' para que la posición se ajuste automáticamente según el contenido */
}

.menu .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu .navbar ul li {
    display: inline; /* En lugar de float: left */
    margin-right: 10px; /* Añadí un margen derecho para separar los elementos del menú */
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 10px;
    color: #111111;
    text-decoration: none;
    position: relative; /* Añadí esta propiedad para posicionar el elemento de manera relativa */

    /* Añadí las siguientes propiedades para la línea decorativa */
    transition: border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

.menu .navbar ul li a:hover,
.menu .navbar ul li a:active {
    border-bottom: 2px solid #45a049; /* Cambia el color de la línea al pasar el ratón o al hacer clic */
}
#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    background-color:#f5f5f5;
    position: fixed;
    top: 60px;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}
th, td {
    color: #FFFFFF;
}
.borrar {
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-txt {
    flex-basis: 50%;
    text-align: center;
}

.header-txt h1 {
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: #111111;
    font-family: 'oswald',sans-serif;
    margin-bottom: 15px;
}

.header-txt p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 5px;
}

.ofert {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: #f5f5f5;
    padding: 35px;
}

.ofert-img {
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-img img {
    width: 250%;
}

.ofert-txt {
    flex-basis: 50%;
    text-align: center;
}

.ofert-txt h3 {
    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.btn-2 {
    display: inline-block;
    padding: 7px 10px;
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 15px;
}

.products {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.products h2 {
    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.product {
    flex: 1;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;

}

.product img {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.product-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


.product h3 {
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product p, .precio {
    font-size: 16px;
    color: #111111;
    margin-bottom: 15px;
}

.precio {
    font-weight: 800;
}

.icons {
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.icon-1 {
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #f5f5f5;
}

.icon-txt h3 {
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.icon-txt p {
    font-size: 16px;
    color: #111111;
}

.blog {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blog-1 {
    flex-basis: calc(33.3% - 30px);
}

.blog-1 img {
    margin-bottom: 20px;
}

.blog-1 h3 {
    font-size: 20px;
    color: #111111;
    font-family:'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-1 p {
    font-size: 16px;
    color: #111111;
}

.footer {
    padding: 50px 0 ;
    background-color: #111111;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

/* 
codigo nuevo de targeta  */

.ofertas-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch; /* Hace que todos los elementos tengan la misma altura */
}

.oferta-item {
    flex: 1; /* Distribuye el espacio disponible de manera equitativa entre los elementos */
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
}

.oferta-img {
    height: 200px; /* Establece la altura deseada para todos los contenedores */
    display: flex;
    align-items: center;
    justify-content: center;
}

.oferta-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Controla cómo se ajusta la imagen dentro del contenedor */
}
.agregar-carrito-btn {
    background-color: #000000; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 15px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto de transición en el color de fondo */
}

.destacado {
    margin: 30px;
    text-align: center;
}

.agregar-carrito-btn2 {
    position: fixed; /* Cambiado a posición fija */
    top: 20px; /* Ajuste la posición desde la parte superior según sus necesidades */
    right: 100px; /* Ajuste la posición desde la derecha según sus necesidades */
    background-color: #000000;
    color: white;
    padding: 10px 20px; /* Ajusté el espaciado interno para que se vea mejor */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.agregar-carrito-btn2:hover {
    background-color: #45a049;
}



.agregar-carrito-btn:hover {
    background-color: #45a049; /* Color de fondo al pasar el ratón */
}


.oferta-texto img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

@media(max-width:991px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu ul li a {
        color: #FFFFFF;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .submenu:hover #carrito {
        min-width: 100%;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
         padding: 50px 0;
         flex-direction: column;
    }

    .header-img {
        display: none;
    }

    .header-txt {
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 70px;
    }

    .ofert {
        padding: 30px 30px 0 30px;
    }

    .ofert-1 {
        margin-bottom: 30px;
    }

    .products {
        padding: 0 30 30px 30px ;
    }

    .products h2 {
        margin-bottom: 30px;
    }

    .product-content {
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }

    .product img {
        width: 200px;
        height: 280px;
    }

    .icons {
        padding: 30px;
        flex-direction: column;
    }

    .icon-1 {
        margin-bottom: 30px;
    }

    .blog {
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }

    .blog-1 {
        margin-bottom: 30px;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}